#footer {
    background: #333;
    color: #fff;
    float: none;
    padding-top: 2rem;
}

#footer a {
    color: #fed136;
}

#footer .menu {
    margin-bottom: 1.0625rem;
    width: 100%;
}

#footer .copyright {
    margin-bottom: 1.25rem;
}