$background-gray: #f2f2f2;
$body-background: #fff;
$text-color: #222;
$header-small-color: #6f6f6f;
$link-color: #008CBA;
$ff-pink: #dc0067;
$header-background: $ff-pink;
$header-color: #fff;
$header-link-color: #fff;
$header-li-hover-color: #fed136;
$header-height: 2.8125rem;
