{{ define "main" }}
{{ $dateFormat := .Site.Params.dateFormat | default "06 Jan 2006" }}
<div id='article' class='blog-list large-9 columns'>
  <article class='row article'>
    <div class='medium-3 columns'>
      {{ $img := (.Resources.ByType "image").GetMatch "images/*featured*" }}
      {{ with $img }}
        {{ $image := .}}

        {{ if lt $img.Width 190 }}
          {{ $image = .Fill "190x top" }}
        {{ else }}
          {{ $image = .Resize "190x" }}
        {{ end }}

        <img srcset="{{ $image.RelPermalink }}" alt="{{ $image.Title }}" class="mw-100 b--light-gray ba">
      {{ end }}
    </div>
    <div class='medium-9 columns'>
      <h4 class='tobheader'><small>{{ .PublishDate.Format $dateFormat }}</small></h4>
      <h1>{{ .Title }}</h1>
      <p>
      {{ .Content }}
      </p>
      <hr />
      <span class="author">
          {{ range .Params.authors }}
          <i class="fa fa-user"></i>{{ . }}
          {{ end }}
      </span>
    </div>
  </article>
</div>
<div id='sidebar' class='large-3 columns'>
  <div class='panel'>
    <h5>Mitmachen</h5>
    <p>
      Unterstütze Freifunk und stelle deinen eigenen Freifunk-Router
      auf um das Netz zu erweitern.
    </p>
    <a href='/#mitmachen' class='button expand'>Informier dich jetzt!</a>
  </div>
</div>
{{ end }}
