{{ define "main" }}
<div class='grid-blog container'>
  <section id="article">
    <article class='row article'>
      <div class='featured-image'>
        {{ $img := (.Resources.ByType "image").GetMatch "images/*featured*" }}
        {{ with $img }}
          {{ $image := .}}
          {{ if lt $img.Width 190 }}
            {{ $image = .Resize "190x top" }}
          {{ else }}
            {{ $image = .Resize "190x" }}
          {{ end }}

          <img srcset="{{ $image.RelPermalink }}" alt="{{ $image.Title }}" class="mw-100 b--light-gray ba">
        {{ end }}
      </div>
      <div class='medium-9 columns'>
        <h1>{{ .Title }}</h1>
        <p>
        {{ .Content }}
        </p>
      </div>
    </article>
  </section>
</div>
{{ end }}
