{{ define "main" }}
<section id='freifunk-description'>
    <div class='text-center container'>
        <h2>Freifunk</h2>
        <h3 class='subheader'><small>WLAN von Bürgern für Bürger</small></h3>
        <p>
        Freifunk hat das Ziel ein freies, von Bürgern verwaltetes WLAN-Netz aufzubauen. Jeder Nutzer im Freifunk-Netz stellt seinen WLAN-Router für den Datentransfer der anderen Teilnehmer zur Verfügung. Es ist auch möglich den Internetzugang zur Verfügung zu stellen und somit anderen den Zugang zum weltweiten Netz zu ermöglichen. Durch ein sogenanntes Mesh-Netz verbinden sich der Freifunk-Router mit allen Freifunk-Routern in Reichweite und finden stets die bestmögliche Verbindung. So kann es zum Beispiel auch möglich sein ins Internet zu gelangen, wenn der eigene Anschluss mal gestört sein sollte.
        </p>
        <div class='grid-x-3'>
            <div>
                <span class='fa-stack fa-4x'>
                    <i class='fa fa-circle fa-stack-2x text-primary'></i>
                    <i class='fa fa-wifi fa-stack-1x fa-inverse'></i>
                </span>
                <h4>Mesh</h4>
                <p>Ein Meshnetz zwischen den Routern sorgt für Stabilität und ermöglicht immer die schnellste Verbindung zum jeweiligen Dienst.</p>
            </div>
            <div>
                <span class='fa-stack fa-4x'>
                    <i class='fa fa-circle fa-stack-2x text-primary'></i>
                    <i class='fa fa-lock fa-stack-1x fa-inverse'></i>
                </span>
                <h4>Sicherheit</h4>
                <p>Das Freifunk-Netz ist vom heimischen Netz getrennt und kann nicht von dort erreicht werden. Mithilfe eines verschlüsselten Tunnels zwischen den Routern und dem Austrittsort ins Internet lässt sich die Verbindung nicht zurück verfolgen.</p>
            </div>
            <div>
                <span class='fa-stack fa-4x'>
                    <i class='fa fa-circle fa-stack-2x text-primary'></i>
                    <i class='fa fa-laptop fa-stack-1x fa-inverse'></i>
                </span>
                <h4>Mobilität</h4>
                <p>Je mehr sich an Freifunk beteiligen, desto Mobiler kann man sich im Freifunk-Netz bewegen. Nehme teil und erweitere das Netzwerk.</p>
            </div>
        </div>
    </div>
</section>


<section id='freifunk-faq' class='background_gray'>
    <div class='text-center container'>
        <h2>H&auml;ufige Fragen</h2>
        <h3 class='subheader'><small>in einfachen Worten erklärt!</small></h3>
        <p>
        Freifunk hat das Ziel ein freies, von Bürgern verwaltetes WLAN-Netz aufzubauen. Jeder Nutzer im Freifunk-Netz stellt seinen WLAN-Router für den Datentransfer der anderen Teilnehmer zur Verfügung. Es ist auch möglich den Internetzugang zur Verfügung zu stellen und somit anderen den Zugang zum weltweiten Netz zu ermöglichen. Durch ein sogenanntes Mesh-Netz verbinden sich der Freifunk-Router mit allen Freifunk-Routern in Reichweite und finden stets die bestmögliche Verbindung. So kann es zum Beispiel auch möglich sein ins Internet zu gelangen, wenn der eigene Anschluss mal gestört sein sollte.
        </p>
        <div class='grid-x-3 info-box'>
            <div>
                <img src="img/ffmyk-router-small.jpg"></img>
            </div>
            <div class='text-justify'>
                <h4>Freifunk-Router</h4>
                <p>Für Freifunk benötigt man einen Router mit einer speziellen Freifunk-Software. Nicht erschrecken, es klingt komplizierter als es ist. Router bekommt man schon ab 15€ und die Software lässt sich bei vielen Modellen so einfach wie ein Firmware Update aufspielen. Auf unseren regelmäßigen Treffen helfen wir gerne bei der Einrichtung und beraten welches Modell sich am besten Eignet.
                <br/>Eine gute Übersicht bieten wir auch in unserem Wiki.</p>
            </div>
        </div>

        <div class='grid-x-3 info-box'>
            <div class='text-justify'>
                <h4 class='text-upper'>Verbindung über Freifunk-Rheinland</h4>
                <p>Wenn du deinen Freifunk-Router ans Internet anbindest, baut dieser eine verschlüsselte Verbindung zu einem Verteilknoten auf. Dieser Verteilknoten weiß wo sich die anderen Freifunk-Router befinden und stellt zusätzlich eine Verbindung zu Freifunk-Rheinland auf.
                <br/>Durch Freifunk-Rheinland können wir eine Verbindung ins Internet bereitstellen und euch vor der Störerhaftung bewahren. Wir bitten um <a href="https://www.freifunk-rheinland.net/mitmachen/spenden/">Spenden für Freifunk-Rheinland</a> um diesen Service auch in Zukunft bieten zu können.</p>
            </div>
            <div>
                <img src="img/freifunk-rheinland-logo.png"></img>
            </div>
        </div>

        <div class='grid-x-3 info-box'>
            <div>
                <img src="img/placeholder350x200.png"></img>
            </div>
            <div class='text-justify'>
                <h4>Für wen ist Freifunk?</h4>
                <p>Mit Freifunk hast du die Möglichkeit deinen Internetanschluss ohne Risiko zur Verfügung zu stellen. Ob deinen Freunden oder den Freunden deiner Kinder, deinen Gäste im Lokal, Hotel oder Club, mit Freifunk kannst du deinen Anschluss unkompliziert und sicher teilen.
                <br/>Da Freifunk vom eigenen Heimnetz getrennt ist bleiben deine Daten im Heimischen netz unberührt.
                <br/>Doch Freifunk ist nicht nur Internet: Über das Freifunk-Netz lassen sich auch selbst Dienste anbieten, welche auch unabhängig von kommerziellen Anbietern oder auch bei Ausfällen des Internets in der Nachbarschaft erreichbar sind.</p>
            </div>
        </div>
    </div>
</section>

<section id='timeline'>
  <div class='text-center container'>
    <h2 class='section-heading'>Timeline</h2>
    <h3 class='subheader'><small>Unser Weg zum freien Netz.</small></h3>
    <div class='timeline'>


      <ul class='timeline'>
        {{ $dateFormat := .Site.Params.dateFormat | default "06 Jan 2006" }}
        {{ range $i,$p := where .Site.Pages.ByPublishDate.Reverse "Params.timeline" true }}
        <li>
          <div class='timeline-image'>
            {{ $img := (.Resources.ByType "image").GetMatch "images/*featured*" }}
            {{ with $img }}
              {{ $image := .}}
      
              {{ if lt $img.Width 190 }}
                {{ $image = .Fill "190x top" }}
              {{ else }}
                {{ $image = .Resize "190x" }}
              {{ end }}
      
              <img class="img-circle img-responsive" srcset="{{ $image.RelPermalink }}" alt="{{ $image.Title }}" class="mw-100 b--light-gray ba">
            {{ end }}
          </div>
          <div class='timeline-panel{{ if modBool $i 1 }} timeline-inverted{{end}}'>
            <div class='timeline-heading'>
              <h4> {{ .PublishDate.Format $dateFormat }} </h4>
              <h4 class='subheading'>{{ .Title }}</h4>
            </div>
            <div class='timeline-body'>
              <p class='text-muted'>
                {{ .Summary }} <a href='{{ .RelPermalink }}'>Weiterlesen</a>
              </p>
            </div>
          </div>
        </li> 
        {{ end }}
      
        <li>
          <div class='timeline'>
            <div class='timeline-image'>
              <h4>Werde
                <br>Teil unserer
                <br>Community!</h4>
            </div>
          </div>
        </li>
      </ul>
    </div> <!-- div.timeline -->
  </div>
</section><!-- #timeline -->

<section id='mitmachen' class='background_gray'>
  <div class='text-center container'>
    <h2>Mitmachen</h2>
    <h3 class='subheader'><small>erweitere mit uns das Freifunk Netz</small></h3>
    <p>
    Gerne kannst du zu einem unserer regelmäßig (jeden 1. Dienstag 19:30) stattfindenden Treffen im Clostersudhaus in der Triererstraße 105 in 56072 Koblenz kommen. Wir beantworten alle Fragen und helfen beim Einrichten neuer Router.
    Natürlich hält dich niemand davon ab einfach weiter auf unserer Webseite und im Wiki zu stöbern. Bei Fragen kannst du auch unsere Mailinglist kontaktieren.
    </p>
  </div>
  <div class='grid-x-3 container'>
    <div class="grid-item">
      <h2>Starter-Kit</h2>
      <h3 class='subheader'><small>Wohnung, Geschäft, Café, Restaurant, Bar</small></h3>
      <dl>
        <dt>Du möchtest</dt>
        <dd>
          <ul>
            <li>dich mit dem Freifunk-Netz in deiner Nachbarschaft verbinden.</li>
            <li>deinen Internet-Anschluss freigeben.</li>
            <li>den ersten Freifunk-Router in deiner Umgebung aufstellen.</li>
          </ul>
        </dd>
        <dt>So kannst du mitmachen</dt>
        <dd>
          <ul>
            <li>
              Besorge einen Freifunk-fähigen Router. Frage uns am Besten welche Modelle aktuell zu empfehlen sind.
            </li>
            <li>
              Gehe wie im <a href='https://wiki.freifunk-myk.de/wiki/mitmachen'>HowTo</a> beschrieben vor, um die Firmware zu flashen und zu konfigurieren.
            </li>
            <li>Stelle den Router an einem geeigneten Ort auf (z.B. Fensterbank).</li>
          </ul>
        </dd>
      </dl>
    </div>
    <div class="grid-item">
      <h2>Level 2</h2>
      <h3 class='subheader'><small>Balkon, hohes Gebäude, öffentlicher Platz, Park, weitläufiges Gelände</small></h3>
      <dl>
        <dt>Du möchtest</dt>
        <dd>
          <ul>
            <li>das Freifunk-Netz auf ein größeres Gebiet erweitern. Dazu eignen
              sich insbesondere höher gelegene Standorte (z.B. Balkone oder
              Dächer) auf 2.4 GHz.</li>
            <li>eine Verbindung zu einem weiter entfernten (bis ~5km)
              Freifunk-Router herstellen. Für stabile Verbindungen wird eine freie
              Sicht zum entfernten Router sowie das 5 GHz-Band benötigt.</li>
          </ul>
        </dd>
        <dt>So kannst du mitmachen</dt>
        <dd>
          <ul>
            <li>Besorge einen Freifunk-fähigen Outdoor-Router. Empfehlungen bekommst du bei unseren Treffen oder per Mail.</li>
          </ul>
        </dd>
      </dl>
    </div>
    <div class="grid-item">
      <h2>Backbone</h2>
      <h3 class='subheader'><small>Dach, Dachgeschoss, hohes Gebäude, öffentliches Gebäude, Rathaus, Kirchturm...</small></h3>
      <dl>
        <dt>Du möchtest</dt>
        <dd>
          <ul>
            <li>das "Rückgrat" des Freifunk-Netzes stärken, indem du stabile
              Richtfunk-Verbindungen zu weit entfernten Freifunk-Routern
              aufbaust (bis ~10km). Für stabile Verbindungen wird eine freie
              Sicht zum entfernten Router benötigt.</li>
          </ul>
        </dd>
        <dt>So kannst du mitmachen</dt>
        <dd>
          <ul>
            <li>Besorge mehrere Freifunk-fähige Outdoor-Router für 5 GHz.
              Empfehlungen bekommst du bei unseren Treffen oder per Mail.
            </li>
            <li>Eventuell kannst du diese Hardware im Rahmen einer
              <a href='https://wiki.freifunk.net/Berlin:%C3%9Cberlassungserkl%C3%A4rung' class='externalLink'>Überlassungserklärung</a> leihen.
            </li>
            <li>Zur Planung der neuen Verbindungen solltest du mit den Freifunker_innen,
              die die entfernten Router betreiben, <a href='../../kontakt'>Kontakt aufnehmen</a>.</li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</section>

{{ end }}
